In [1]:
import pandas as pd
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [2]:
from sklearn.metrics import auc, accuracy_score, confusion_matrix, mean_squared_error
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split
import numpy as np
import xgboost as xgb

In [3]:
a=pd.read_csv('new_uiuc - new_uiuc (4).csv')
b=pd.DataFrame(a)
b

                                               Address  ...  Longitude(countymarket)
0              The Dean Campustown Champaign, IL 61820  ...               -88.293935
1          Westgate Apartments LLC Champaign, IL 61821  ...               -88.293935
2                 705 S 1st Street Champaign, IL 61820  ...               -88.293935
3          Baytowne Apartments LLC Champaign, IL 61822  ...               -88.293935
4                      The Legends Champaign, IL 61822  ...               -88.293935
..                                                 ...  ...                      ...
829      1557 S Hunter St, Urbana,IL 61802 – Urbana     ...               -88.293935
830   1606 Willow View Rd, Urbana,IL 61802 – Urbana     ...               -88.293935
831    904 N Broadway Ave, Urbana,IL 61801 – Urbana     ...               -88.293935
832   1321 N Lincoln Ave, Urbana,IL 61801 – Champai...  ...               -88.293935
833    1903 N Lincoln Ave, Urbana,IL 61801 – Urbana     ...               -88.293935

[834 rows x 36 columns]

In [4]:
b.drop(b.columns[[0,1,2,3,4,28,29,30,31,32,33,34,35]], axis = 1, inplace = True)
b

          Posted  Minimum_Cost  ...  Distance_from_CountyMarket Cost_per_Person
0       Recently           709  ...                    3.490246      177.250000
1       Recently           575  ...                    2.402338      575.000000
2       Recently          1300  ...                    3.036321      325.000000
3       Recently          1080  ...                    3.465160     1080.000000
4       Recently           995  ...                    1.866519      331.666667
..           ...           ...  ...                         ...             ...
829  2 Weeks Ago           550  ...                    5.568675      283.333333
830  2 Weeks Ago          1200  ...                    5.797879      600.000000
831  2 Weeks Ago           650  ...                    4.875324      400.000000
832  2 Weeks Ago           329  ...                    4.272497      249.750000
833        Today           520  ...                    4.496707      520.000000

[834 rows x 23 columns]

In [5]:
b['Website']= label_encoder.fit_transform(b['Website'])
b['Website'].unique()
b['Posted']= label_encoder.fit_transform(b['Posted'])
b['Posted'].unique()
b['Area']= label_encoder.fit_transform(b['Area'])
b['Area'].unique()
b['Minimum_Beds']= label_encoder.fit_transform(b['Minimum_Beds'])
b['Minimum_Beds'].unique()
b['Maximum_Beds']= label_encoder.fit_transform(b['Maximum_Beds'])
b['Maximum_Beds'].unique()

array([3, 0, 2, 1])

In [6]:
X = b.iloc[:, :22].values
y = b.iloc[:, -1].values
X

array([[1.60000000e+01, 7.09000000e+02, 7.09000000e+02, ...,
        1.53300292e-01, 1.86787154e-01, 3.49024640e+00],
       [1.60000000e+01, 5.75000000e+02, 5.75000000e+02, ...,
        2.68735123e+00, 2.79262376e+00, 2.40233751e+00],
       [1.60000000e+01, 1.30000000e+03, 1.30000000e+03, ...,
        4.22201635e-01, 6.44301302e-01, 3.03632090e+00],
       ...,
       [5.00000000e+00, 6.50000000e+02, 8.00000000e+02, ...,
        1.56238922e+00, 1.24129551e+00, 4.87532448e+00],
       [5.00000000e+00, 3.29000000e+02, 9.99000000e+02, ...,
        1.29527631e+00, 1.00912720e+00, 4.27249698e+00],
       [1.70000000e+01, 5.20000000e+02, 5.20000000e+02, ...,
        1.63308459e+00, 1.35132677e+00, 4.49670694e+00]])

In [7]:
b

     Posted  Minimum_Cost  ...  Distance_from_CountyMarket  Cost_per_Person
0        16           709  ...                    3.490246       177.250000
1        16           575  ...                    2.402338       575.000000
2        16          1300  ...                    3.036321       325.000000
3        16          1080  ...                    3.465160      1080.000000
4        16           995  ...                    1.866519       331.666667
..      ...           ...  ...                         ...              ...
829       5           550  ...                    5.568675       283.333333
830       5          1200  ...                    5.797879       600.000000
831       5           650  ...                    4.875324       400.000000
832       5           329  ...                    4.272497       249.750000
833      17           520  ...                    4.496707       520.000000

[834 rows x 23 columns]

In [8]:
xgb_model = xgb.XGBRegressor(objective="reg:linear", random_state=42)
xgb_model.fit(X, y)

[05:54:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [9]:
y_pred = xgb_model.predict([[5,329,999,0,3,664.0,2,0,2,1,0,0,1,0,1,0,1,0,1.531,1.292,1.009,4.2724]])
print(y_pred)

[222.57149]